/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    background-color: black;
    margin: 0;
    font-family: avenir;
    transition: all 1.5s ease-in-out;
    width: 100%;
}

section {
    margin-right: .6em;
    margin-left: 1em;
}


/*Kleuren achtergrond*/
body {
    background-image:
        radial-gradient(circle at 350px 30px, rgb(72, 13, 103), transparent 15%),
        radial-gradient(circle at 210px 390px, darkgreen, transparent 6%)
}

.bg-active {
    background-color: white;
    background-image: none;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    .bg-active {
        background-color: white;
        background-image: none;
    }

} */

/*header*/

header {
    margin-top: 3em;
    margin-left: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .3 ease-in;
}

/*Schommelen logo*/

@keyframes schommel {
    20% {
        transform: rotate(15deg) scale(1.2);
    }

    40% {
        transform: rotate(-10deg) scale(.8);
    }

    60% {
        transform: rotate(5deg) scale(1.2);
    }

    80% {
        transform: rotate(-5deg) scale(.8);
    }

    100% {
        transform: rotate(0deg)scale(1);
    }
}

header a {
    z-index: 198;
}

header:first-of-type img:hover {
    animation: schommel 1s ease-in-out;
}

header:first-of-type img {
    width: 9em;
}

/* hamburger button  */

header button:first-of-type {
    display: flex;
    position: absolute;
    right: 3em;
    top: 0;
    visibility: hidden;
    cursor: pointer;

}

header button:first-of-type:before {
    content: "";
    position: absolute;
    margin-top: 15px;
    width: 35px;
    height: 4px;
    left: 1em;
    background-color: #FFF;
    visibility: visible;
    z-index: 200;
    transition: .5s;

}

header button:first-of-type:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 4px;
    left: 1em;
    background-color: #FFF;
    visibility: visible;
    z-index: 200;
    transition: .5s;

}

header.open button:first-of-type::before {
    transform: rotate(-45deg) translateY(-13px);
}

header.open button:first-of-type::after {
    transform: rotate(45deg) translateY(9px) translateX(-2px);
}



/*Navigatie*/

nav {
    position: fixed;
    padding-top: 10em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    background: rgb(10, 10, 10);
    color: white;
    z-index: 190;
    text-align: center;
}

nav ul {
    position: relative;
    left: -5%;
    top: -10%;
    list-style-type: none;
    margin-bottom: 3.3em;

}

nav ul li a {
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 0.03em #fff;
    font-size: 3.6em;
    border: none;
    background: rgb(10, 10, 10);
    transition: .1s ease-in-out;
}

/* Tekst onder ul */

nav>a {
    color: white;
    display: block;
    font-size: 1.2em;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.3em;
    max-width: 6.8em;
    overflow-x: hidden;
    left: 32%;
}


nav>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

nav>a:hover:before {
    visibility: hidden;
    width: 0;
}


nav p:first-of-type {
    opacity: .4;
    font-size: .9em;
}

nav p:nth-of-type(2) {
    font-size: 1.2em;
    position: absolute;
    top: 31em;
    left: 6.5em;
}


/* Java class nav zichtbaar */

header.open nav {
    transform: translateY(0%);
}


/* Hovers nav */

nav ul li a:hover {
    color: white;
}

nav ul li a:first-of-type:hover {
    transform: translateX(.2em) scale(1.1);
    text-shadow: -.2em 0em .1em rgba(255, 255, 255, .2);
}

nav ul li a:nth-of-type(2):hover {
    transform: translateY(-.2em) scale(1.1);
    text-shadow: 0em .2em .1em rgba(255, 255, 255, .2);

}

nav ul li:nth-of-type(3):hover {
    transform: translateX(-.2em) scale(1.1);
    text-shadow: .2em 0em .1em rgba(255, 255, 255, .2);

}

nav ul li:nth-of-type(4):hover {
    transform: translateY(.2em) scale(1.1);
    text-shadow: 0em -.2em .1em rgba(255, 255, 255, .2);

}



/*1e section*/

section:first-of-type {
    color: white;

}

section:first-of-type h1 {
    font-weight: 300;
    font-size: 2.7em;
    margin: 2em 0em 1.5em 0.2em;
    line-height: 1.2em;
}

section:first-of-type a {
    text-transform: uppercase;
    color: black;
    background: rgb(113, 233, 82);
    text-decoration: none;
    border-radius: 0.2em;
    margin: 1.5em 0em 0em 0.4em;
    padding: 0.8em 4.7em 0.8em 1.3em;
    font-size: 1em;
    position: relative;
    display: inline-block;
    transition: .3s ease-in;
}

section:first-of-type div {
    border-bottom: .25em solid #fff;
    height: 0em;
    width: 4em;
    position: relative;
    margin-top: -2em;
    margin-bottom: 3em;
    margin-left: .4em;
    z-index: -100;
    transition: .5s ease-in-out;
}

section:first-of-type div:hover {
    width: 10em;
    color: purple;
}

section:first-of-type p {
    font-weight: 100;
    font-size: 1.3em;
    word-spacing: 0.1em;
    line-height: 1.5em;
    margin-top: 5em;
    margin-left: .4em;
    margin-bottom: 4em;
    color: white;
}


a:nth-child(2) img {
    margin-left: -1em;
    transform: scale(.5);
    position: absolute;
    top: -16%;
    transition: .2s ease-in;

}

a:nth-child(2):hover img {
    transform: translateX(1em) scale(.5);
}


/*2e section (uitklappen)*/

section:nth-of-type(2) {
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

details summary {
    color: transparent;
    -webkit-text-stroke: 0.03em rgb(125, 22, 221);
    font-size: 3em;
    padding: 4px;
    border: none;
    outline: none;
}

details summary::after {
    display: inline-block;
    position: relative;
    content: "ˬ";
    color: rgb(125, 22, 221);
    margin-left: .5em;
    top: -.20em;
    transition: .4s;
}

details[open] summary {
    color: rgb(125, 22, 221);
}


details[open] summary::after {
    transform: rotate(180deg) translateY(-.5em);

}

details summary:hover {
    color: rgb(125, 22, 221);
}

details p {
    color: white;
    padding: 0.3em;
    margin-left: 0.2em;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.3em;
}



/* link  */


section:nth-child(2) a {
    color: white;
    display: block;
    font-size: 1.5em;
    margin: 1.9em 0em 8em 0em;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.3em;
    max-width: 12em;
    overflow-x: hidden;
}


section:nth-child(2) a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: visible;
    transition: all 0.3s ease-in-out;

}

section:nth-child(2) a:hover:before {
    visibility: hidden;
    width: 0;
}


/*Derde section*/

section:nth-child(3) {
    padding: 4em 0em 10em 1em;
    display: flex;
    flex-direction: column;
}

section:nth-child(3) article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
}

section:nth-child(3) h2 {
    font-size: 3.6em;
    font-weight: 500;
    margin-bottom: 2em;
}

section:nth-child(3) article img {
    width: 95%;
    display: flex;
    order: -1;
    transition: .1s ease-in;

}

section:nth-child(3) article p {
    font-size: 1.2em;
    margin-top: -2%;
    font-weight: 200;
}

section:nth-child(3) article img:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 10px grey;
}

section:nth-child(3) a {
    color: black;
    display: block;
    font-size: 1.3em;
    margin-top: -.5em;
    margin-bottom: 3em;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.3em;
    max-width: 6.9em;
    overflow-x: hidden;
}


section:nth-child(3) a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.09em;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}


section:nth-child(3) a:hover:before {
    visibility: hidden;
    width: 0;
}

section:nth-child(3)>img {
    width: 95%;
    margin-left: 0;
    transform: scale(1.1);
    z-index: -100;
}

/* Vierde section */

section:nth-child(4) {
    position: relative;
    color: white;
}

section:nth-child(4) h2 {
    font-size: 3.2em;
    font-weight: 300;
    line-height: .3em;
}

section:nth-child(4) h2:nth-last-of-type(1) {
    margin-left: 40%;
    margin-top: -.4em;
}

/* Pijltjes */

section:nth-child(4) button {
    visibility: hidden;
    position: relative;
    color: white;
    top: -4em;
}

section:nth-child(4) button:first-of-type::before {
    position: absolute;
    left: 2em;
    top: 4em;
    content: "←";
    transform: scale(3);
    pointer-events: initial;
    visibility: visible;

}

section:nth-child(4) button:nth-of-type(2)::before {
    position: absolute;
    pointer-events: initial;
    left: 4.1em;
    top: 4em;
    opacity: 1;
    content: "→︎";
    transform: scale(3);
    visibility: visible;
}

/* De quote */

section:nth-of-type(4) ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

section:nth-of-type(4) ul li {
    position: relative;
    width: 100%;
    max-width: 32em;
    padding: 0;
    flex-shrink: 0;
    scroll-snap-align: center;
}



blockquote:first-of-type {
    width: 95%;
    height: 25em;
    margin-left: 1em;
    margin-top: 20%;
    padding: 1em 1em 5em 2em;
    border: .06em solid rgba(255, 255, 255, .2);
    box-shadow: -.5em 1.1em 0 0 black,
        -.5em 1.1em 0 1px rgb(125, 22, 221);
}

blockquote:first-of-type p {
    width: 95%;
    line-height: 1.6em;
    font-weight: 100;
    font-size: 1.2em;
    margin-left: 0;
}

section:nth-of-type(4) img {
    position: absolute;
    display: block;
    top: 23em;
    left: 3em;
    width: 4em;
}

section:nth-of-type(4) li>h3 {
    position: absolute;
    top: 25.5em;
    left: 8em;
    font-size: .9em;
}

section:nth-of-type(4) li>p {
    margin: -5.5em 0em 5em 8em;
    font-size: .9em;
}



/* vijfde section  */

section:nth-of-type(5) {
    border-bottom: 1px solid grey;
    padding-bottom: 7em;


}

section:nth-of-type(5)>h2 {
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1.3em;
    color: white;
    margin: 2em 0em 2em 0em;
}

section:nth-of-type(5) a {
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    color: white;
    background-color: #000;
    border: .02em solid white;
    text-decoration: none;
    padding: .5em 2.3em;
    margin-left: .7em;
    margin-bottom: 2em;
    box-shadow: -.35em .35em 0em rgb(125, 22, 221);
    transition: .3s;
}

section:nth-of-type(5) a:hover {
    box-shadow: 0em 0em 0em rgb(125, 22, 221);
    background-color: rgb(125, 22, 221);
    border: none;

}

/* footer */

footer {
    color: rgb(46, 45, 46);

}

footer ul {
    margin-left: -.5em;
    list-style: none;
    font-size: 1.3em;
    line-height: 1.8em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding-top: 1em;
    opacity: .4;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
}

footer p {
    margin-left: 2em;
    color: white;
    opacity: .4;
}

/* Styling links footer  */

footer ul li a {
    color: #fff;
    display: block;
    font-size: .9em;
    margin-top: -.5em;
    margin-bottom: .2em;
    position: relative;
    text-decoration: none;
    padding: 1em 0em 0.01em 0em;
    max-width: 4em;
    overflow-x: hidden;
}

footer ul li:nth-of-type(5) {
    max-width: 2.8em;

}

footer ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}

footer ul li a:hover:before {
    visibility: hidden;
    width: 0;
}