/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    background-color: black;
    margin: 0;
    font-family: avenir;
    transition: all 1.5s ease-in-out;
    width: 100%;
}

section {
    margin-right: .6em;
    margin-left: 1em;
}


/*Kleuren achtergrond*/
body {
    background-image:
        radial-gradient(circle at 350px 30px, rgb(72, 13, 103), transparent 15%),
        radial-gradient(circle at 210px 390px, darkgreen, transparent 6%)
}

.bg-active {
    background-color: white;
    background-image: none;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    .bg-active {
        background-color: white;
        background-image: none;
    }

} */

/*header*/

header {
    margin-top: 3em;
    margin-left: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .3 ease-in;
}

/*Schommelen logo*/

@keyframes schommel {
    20% {
        transform: rotate(15deg) scale(1.2);
    }

    40% {
        transform: rotate(-10deg) scale(.8);
    }

    60% {
        transform: rotate(5deg) scale(1.2);
    }

    80% {
        transform: rotate(-5deg) scale(.8);
    }

    100% {
        transform: rotate(0deg)scale(1);
    }
}

header a {
    z-index: 198;
}

header:first-of-type img:hover {
    animation: schommel 1s ease-in-out;
}

header:first-of-type img {
    width: 9em;
}

/*Navigatie*/

nav {
    position: fixed;
    padding-top: 10em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    background: rgb(10, 10, 10);
    z-index: 190;
}

nav ul {
    position: relative;
    left: -5%;
    top: -10%;

}

nav ul li {
    list-style: none;
    color: transparent;
    -webkit-text-stroke: 0.03em #fff;
    font-size: 3.6em;
    border: none;
    text-align: center;
    background: rgb(10, 10, 10);
    transition: .1s ease-in-out;
}

/* Java class nav zichtbaar */

nav.open {
    transform: translateY(0%);
}


/* Hovers nav */

nav ul li:hover {
    color: white;
}

nav ul li:first-of-type:hover {
    transform: translateX(.2em) scale(1.1);
    text-shadow: -.2em 0em .1em rgba(255, 255, 255, .2);
}

nav ul li:nth-of-type(2):hover {
    transform: translateY(-.2em) scale(1.1);
    text-shadow: 0em .2em .1em rgba(255, 255, 255, .2);

}

li:nth-of-type(3):hover {
    transform: translateX(-.2em) scale(1.1);
    text-shadow: .2em 0em .1em rgba(255, 255, 255, .2);

}

li:nth-of-type(4):hover {
    transform: translateY(.2em) scale(1.1);
    text-shadow: 0em -.2em .1em rgba(255, 255, 255, .2);

}


/* hamburger button  */

button:first-of-type {
    position: absolute;
    margin-left: 22.6em;
    margin-top: -2em;
    visibility: hidden;

}

button:first-of-type:before {
    content: "";
    position: absolute;
    margin-top: 15px;
    width: 30px;
    height: 4px;
    left: 1em;
    background-color: #FFF;
    visibility: visible;
    z-index: 200;

}

button:first-of-type:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    left: 1em;
    background-color: #FFF;
    visibility: visible;
    z-index: 200;
}

/* .menu-burger.open button:first-of-type::before {
    transform: rotate(45deg) translate(1em, -1em);

}

.menu-burger.open button:first-of-type::after {
    transform: rotate(-45deg) translate(1em, 1em);

} */



/*1e section*/

section:first-of-type {
    color: white;

}

section:first-of-type h1 {
    font-weight: 300;
    font-size: 2.7em;
    margin: 2em 0em 1.5em 0.2em;
    line-height: 1.2em;
}

section:first-of-type a {
    text-transform: uppercase;
    color: black;
    background: rgb(113, 233, 82);
    text-decoration: none;
    border-radius: 0.2em;
    margin: 1.5em 0em 0em 0.4em;
    padding: 0.8em 4.7em 0.8em 1.3em;
    font-size: 1em;
    position: relative;
    display: inline-block;
    transition: .3s ease-in;
}

section:first-of-type div {
    border-bottom: .25em solid #fff;
    height: 0em;
    width: 4em;
    position: relative;
    margin-top: -2em;
    margin-bottom: 3em;
    margin-left: .4em;
    z-index: -100;
    transition: .5s ease-in-out;
}

section:first-of-type div:hover {
    width: 10em;
    color: purple;
}

section:first-of-type p {
    font-weight: 100;
    font-size: 1.3em;
    word-spacing: 0.1em;
    line-height: 1.5em;
    margin-top: 5em;
    margin-left: .4em;
    margin-bottom: 4em;
    color: white;
}


a:nth-child(2) img {
    margin-left: -1em;
    transform: scale(.5);
    position: absolute;
    top: -16%;
    transition: .2s ease-in;

}

a:nth-child(2):hover img {
    transform: translateX(1em) scale(.5);
}


/*2e section (uitklappen)*/

section:nth-of-type(2) {
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

details summary {
    color: transparent;
    -webkit-text-stroke: 0.03em rgb(125, 22, 221);
    font-size: 3em;
    padding: 4px;
    border: none;
}

details summary::after {
    content: "v";
    color: rgb(125, 22, 221);
    margin-left: .5em;
}

details[open] summary {
    color: rgb(125, 22, 221);
}

details summary:hover {
    color: rgb(125, 22, 221);
}

details p {
    color: white;
    padding: 0.3em;
    margin-left: 0.2em;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.3em;
}



/* link  */


section:nth-child(2) a {
    color: white;
    display: block;
    font-size: 1.5em;
    margin: 1.9em 0em 8em 0em;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.3em;
    max-width: 12em;
    overflow-x: hidden;
}


section:nth-child(2) a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: visible;
    transition: all 0.3s ease-in-out;

}

section:nth-child(2) a:hover:before {
    visibility: visible;
    width: 100%;

}


/*https://paulund.co.uk/css-animation-link-underline*/



/*Derde section*/

section:nth-child(3) {
    padding: 4em 0em 10em 1em;
    display: flex;
    flex-direction: column;
}

section:nth-child(3) article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
}

section:nth-child(3) h2 {
    font-size: 3.6em;
    font-weight: 500;
    margin-bottom: 2em;
}

section:nth-child(3) article img {
    width: 95%;
    display: flex;
    order: -1;
}

section:nth-child(3) article p {
    font-size: 1.2em;
    margin-top: -2%;
    font-weight: 200;
}


section:nth-child(3) a {
    color: black;
    display: block;
    font-size: 1.3em;
    margin-top: -.5em;
    margin-bottom: 3em;
    position: relative;
    text-decoration: none;
    padding-bottom: 0.3em;
    max-width: 6.9em;
    overflow-x: hidden;
}


section:nth-child(3) a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}


section:nth-child(3) a:hover:before {
    visibility: visible;
    width: 100%;
}

#bedrijven {
    width: 95%;
    margin-left: 0;
    transform: scale(1.1);
    z-index: -100;
}

/* Vierde section */

section:nth-child(4) {
    position: relative;
    color: white;
}

section:nth-child(4) h2 {
    font-size: 3.2em;
    font-weight: 300;
    line-height: .3em;
}

section:nth-child(4) h2:nth-last-of-type(1) {
    margin-left: 35%;
}

/* Pijltjes */

#pijl-links::before {
    position: absolute;
    left: 1em;
    top: 4em;
    content: "←";
    transform: scale(3);
    opacity: .4;
    pointer-events: none;
}

#pijl-rechts::before {
    position: absolute;
    left: 4.3em;
    top: 4em;
    content: "→︎";
    transform: scale(3);
}

.huidige {
    opacity: 1;
}

/* De quote */

blockquote:first-of-type {
    width: 95%;
    margin-left: 0;
    margin-top: 30%;
    padding: 1em 1em 5em 2em;
    border: .06em solid rgba(255, 255, 255, .2);
}

blockquote:first-of-type p {
    width: 95%;
    line-height: 1.6em;
    font-weight: 100;
    font-size: 1.2em;
    margin-left: 0;
}

section:nth-of-type(4) img {
    position: absolute;
    top: 30em;
    left: 9%;
    width: 15%;
}

section:nth-of-type(4) h3 {
    position: absolute;
    top: 85%;
    left: 30%;
    font-size: .9em;
}

section:nth-of-type(4)>p {
    position: absolute;
    top: 89%;
    left: 30%;
    font-size: .8em;
}

/* vijfde section  */


section:nth-of-type(5)> h2 {
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1.3em;
    color: white;
    margin: 1em 0em 2em 0em;
}

section:nth-of-type(5) a {
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    color: white;
    background-color: #000;
    border: .02em solid white;
    text-decoration: none;
    padding: .5em 2.3em;
    margin-left: .7em;
    box-shadow: -.35em .35em 0em rgb(125, 22, 221);
    transition: .3s;
}

section:nth-of-type(5) a:hover {
    box-shadow: 0em 0em 0em rgb(125, 22, 221);
    background-color: rgb(125, 22, 221);
    border: none;

}

footer {
    display: grid;
    color: rgb(46, 45, 46);
    margin-top: 7em;
  
}

footer ul {
    list-style: none;
    font-size: 1.3em;
    line-height: 1.8em;
    border: 1x solid white;
}